@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.content{
    align-items: center;
    text-align: center;
}
.main-task{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-task li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 50rem;
    min-height: 6rem;
    border-bottom: .1rem solid #ccc;
}

.main-task li:first-child {
    border-top: .1rem solid #ccc;
}

.main-task li:hover {
    background-color: #fef2f2;
}

.main-task li input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #D14D72;
}

.main-task li button {
    padding: .6rem 1rem;
    width: 7rem;
    background-color: #D14D72;
    color: #FFF9F9;
    border: none;
    display: inline-block;
    cursor: pointer;
    justify-self: center;
    letter-spacing: .1rem;
}

.form input {
    border: .1rem solid #ccc;
    border-radius: .3rem;
    width: 45rem;
    margin: 4rem 0;
    user-focus: none;
    padding: .6rem 1rem;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    font-weight: bold;

}

.form button {
    padding: .8rem 2.8rem;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.4rem;
    background-color: #68B984;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-size: 2rem;
    font-family: "Lexend Deca",sans-serif;
    color: #ccc;
    border-bottom: .3rem solid transparent;
}

nav a:hover{
    border-color: #3A3845;
}
nav a:active{
    color: #000;
    border-color: #68B884;
}